body{
    font-family: Arial;
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
}

input, button{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button{
    background:black;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    opacity:0.8;
}
